
    <!-- <head>
        <title>About TuLearn</title>
        <link rel="stylesheet" href="AboutTuLearn.css">
      
    </head> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="aboutCont">
            <div id="nav-placeholder">
                <div class="banner">
                    <div class="navbar">
                        <ul>
                            <li><a href="HomeTuLearn.html">Home</a></li>
                            <li><a href="AboutTuLearn.html">About Us</a></li>
                            <li><a href="SignInTuLearn.html">Sign In</a></li>
                            <li><a href="SignInTuLearn.html">Register Now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="services">
                <h1>About us</h1>
            </div>
            <div class="row">
                <div class="col-md-3 text-center">
                    <div class="icon">
                        <i class="fa fa-star"></i>
                    </div>
                    <h3>Vision & Mission</h3>
                    <p>At TuLearn, we strive to improve on the educational aspects for the poor
                        by providing free & effective materials and resources.</p>
                </div>
                <div class="col-md-3 text-center">
                    <div class="icon">
                        <i class="fa fa-book"></i>
                    </div>
                    <h3>Online Materials</h3>
                    <p>We offer effective study materials that can be accessed anytime and anywhere, online.
                        Proper notes, Understandable videos and Enlightening textbooks all under one platform.
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <div class="icon">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <h3>Loads of Opportunities</h3>
                    <p>Through our platform, students and teachers can get the most out of education, and make their future bright. 
                        Students have access to scholarship programs. Teachers have access to secure jobs.</p>
                </div>
                <div class="col-md-3 text-center">
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                    <h3>Resource Funding</h3>
                    <p>TuLearn values its kind and loving donors, who make it possible for poor children to be educated. 
                        Be it helping with donations or scholarships our donors are always ready to support. You can also be one!
                    </p>
                </div>
            </div>
            <div class="team">
                <div class="services">
                    <h1>Team Members</h1>
                </div>
                <div class="row">
                    <div class="col-md-3-2 text-center">
                        <div class="picture" id = "Consolata">
                            <img src="../../assets/images/Consolata.jpeg">
                        </div>
                        <h3 class="names">Consolata Gicheru</h3>
                    </div>
                    <div class="col-md-3-2 text-center">
                        <div class="picture">
                            <img src="../../assets/images/Purity.jpg">
                        </div>
                        <h3 class="names">Purity Jangaya</h3>
                    </div>
                    <div class="col-md-3-2 text-center">
                        <div class="picture">
                            <img src="../../assets/images/lindsey.jpeg">
                        </div>

                        <h3 class="names">Lindsey Omoto</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3-2 text-center">
                        <div class="picture">
                            <img src="../../assets/images/Kariuki.jpeg">
                        </div>
                        <h3 class="names">Kariuki Wachira</h3>
                    </div>
                    <div class="col-md-3-2 text-center">
                        <div class="picture">
                            <img src="../../assets/images/Patel.jpeg">
                        </div>
                        <h3 class="names">Manav Patel</h3>
                    </div>
                </div>
            </div>
        </div>

