<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a href="HomeTuLearn.html">Home</a></li>
                <li><a href="AboutTuLearn.html">About Us</a></li>
                <li><a href="SignInTuLearn.html">Sign In</a></li>
                <li><a href="SignInTuLearn.html">Register Now</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="title">
                EDUCATION FOR
                <div class="slider">
                    <div>YOU</div>
                    <div>ALL</div>
                </div>
            </div>
            <p>TuLearn aims to provide education for all,<br> even those who do not have access to education resources!
            </p>
            <div>
                <button type="button"><span></span>Register Now!</button>
            </div>
        </div>
    </div>
    <div class="cont">
        <div class="container counter-section">
            <div class="row text-center">
                <div class="col-md-3 counter-box">
                    <div class="icon-box">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    </div>
                    <p class="counter">0</p>
                    <p>STUDENTS CONNECTED</p>
                </div>
                <div class="col-md-3 counter-box">
                    <div class="icon-box">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
                    <p class="counter">50</p>
                    <p>EDUCATION MATERIALS</p>
                </div>
                <div class="col-md-3 counter-box">
                    <div class="icon-box">
                        <i class="fa fa-group" aria-hidden="true"></i>
                    </div>
                    <p class="counter">0</p>
                    <p>PROFESSIONAL TEACHERS</p>
                </div>
                <div class="col-md-3 counter-box">
                    <div class="icon-box">
                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                    </div>
                    <p class="counter">100</p>
                    <p>USER FRIENDLY</p>
                </div>
            </div>
        </div>
    </div>




</body>