*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../../assets/images/homebg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #0999;
    position: absolute;
    left: 0;
    bottom: -10px; 
    transition: 0.5s; 
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover {
    border: none;
}

.title{
    font-size: 70px;
    line-height: 100px;
    font-weight: bold;
    height: 100px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider{
    color: #ffc107;
    margin-left: 12px;
    box-sizing: border-box;
    animation: slider 4s linear infinite;
}
@keyframes slider{
    0%{margin-top: -200px;}
    10%{margin-top: -100px;}
    40%{margin-top: -100px;}
    60%{margin-top: 100px;}
    100%{margin-top: 100px;}
}

a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.cont{
    width: 100%;
    height: 65vh;
    background-image: linear-gradient(rgba(32, 32, 32, 0.75), rgba(32, 32, 32, 0.75)), url(../../assets/images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.counter-section{
    margin: 0 auto;
    color: #3fff;
}
.icon-box{
    border: 1px solid #fff;
    height: 100px;
    width: 100px;
    margin: 40px auto;
    transform: rotate(45deg);
}
.icon-box .fa{
    font-size: 40px;
    margin: 25px auto;
    color: #ffc800;
    transform: rotate(-45deg);
}
.counter-box p{
    font-size: 20px;
}
.counter-box .counter{
    font-size: 80px ;
}

// .container2{

// }